body{
	overflow-y:scroll;
}
.waterfall{
	margin-top: 16px;
}
.column{
	padding: 0px 8px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}
img{
	width: 100%;
	cursor: pointer;
}
.cover{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 100;
	display: none;
}
.active{
	background: rgba(0,0,0,.7);
	display: block;
}
.img-box{
	margin: 50px auto;
}
.img-large{
}
img{
	border-radius: 5px;
	transition: all 0.3s;
	box-shadow: 0 0 10px rgba(0,0,0,.6);
	margin: 5px 0px;
}